.dropcomplete {
    z-index: 1000;
    overflow: auto;
    border: 1px solid rgba(50, 50, 50, 0.6);
}

.dropcomplete > div:hover:not(.group),
.dropcomplete > div.selected {
    background: #81ca91;
    cursor: pointer;
}

